In [2]:
from sklearn.model_selection import GridSearchCV

from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
social=pd.read_csv('Data set\\Social_Network_Ads.csv')

In [11]:
social.pop('User ID')

0      15624510
1      15810944
2      15668575
3      15603246
4      15804002
         ...
395    15691863
396    15706071
397    15654296
398    15755018
399    15594041
Name: User ID, Length: 400, dtype: int64

In [12]:
X=social.iloc[:,:-1]
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [13]:
y = social.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [19]:
X=pd.get_dummies(social, drop_first=True)
X

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [20]:
from sklearn import preprocessing
X =preprocessing.StandardScaler().fit_transform(X)

In [21]:
k_range = list(range(1,31))
weight_options = ["uniform", "distance"]
metric_K = ["euclidean","manhattan"]
param_grid = dict(n_neighbors = k_range, weights = weight_options, metric = metric_K)

In [22]:
knn = KNeighborsClassifier()

In [23]:
grid = GridSearchCV(knn, param_grid, cv = 8,verbose = 1, n_jobs = -1)
grid.fit(X,y)

Fitting 8 folds for each of 120 candidates, totalling 960 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 960 out of 960 | elapsed:    7.0s finished

GridSearchCV(cv=8, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan'],
                         'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30],
                         'weights': ['uniform', 'distance']},
             verbose=1)

In [24]:
print (grid.best_score_)
print (grid.best_params_)
print (grid.best_estimator_)

1.0
{'metric': 'euclidean', 'n_neighbors': 1, 'weights': 'uniform'}
KNeighborsClassifier(metric='euclidean', n_neighbors=1)

In [26]:
#Train Test split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [28]:
y_test.shape

(120,)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
knnmodel = KNeighborsClassifier(n_neighbors = 5)
knnmodel.fit(X_train,y_train)
ypredict = knnmodel.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,ypredict)
acc

1.0

In [31]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,ypredict)
cm

array([[72,  0],
       [ 0, 48]], dtype=int64)

In [32]:
cm1 = pd.DataFrame(data=cm)
cm1

    0   1
0  72   0
1   0  48